:root {
  /* Colors */
  --primary-color: #48daff;;
  --primary-color-lighter: #87e7ff;
  --primary-color-darker: #36a8c5;
  --secondary-color: #9e8a78;
  --secondary-color-darker: #79695a;
  --secondary-color-darkest: #66584b;
  --background-color-light: #fafafa;
  --background-color-medium: #e4e4e4;
  --background-color-dark: #222222;



  --font-color-light: #fafafa;
  --font-color-dark: #1a1a1a;

  --color-error: #ff0000;

  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;
  --spacing-xl: 2rem;

  /* Font Size */
  --font-size-xs: 0.75rem;
  --font-size-base: 1rem;
  --font-size-medium: 1.25rem;
  --font-size-large: 1.5rem;
  --font-size-xl: 2rem;

  /* Borders */
  --border-radius-xs: 6px;
  --border-radius-small: 12px;
  --border-radius-medium: 24px;
  --border-radius-large: 32px;

  /* Shadow */
  --box-shadow-small: 0px 0px 3px 1px rgba(0, 0, 0, 0.77);
}
